#root {
  padding: 0;
  margin: 0;
  text-align: center;
}
.container{
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
header{
  background: #ffffff;
  display: grid;
  place-items: center;
  grid-template-columns: auto auto;
  height: 10vh;
  padding: .5rem 0;
  justify-content: space-between;
  width: 100%;
}
a{
  position: relative;
  margin: .5rem 2rem;
  padding: 0 .5rem;
  font-weight: 800;
  text-decoration: none;
}
a:any-link{
  color: #4f4f4f;
}
a:any-link[aria-selected="true"]{
  color: #000;
}
nav a::after{
  position: absolute;
  content: "";
  height: 3px;
  width: 0%;
  background: #000;
  left: 0;
  bottom: -.5rem;
  transition: all .5s ease-in-out;
}
nav a[aria-selected="true"]::after{
  width: 100%;
  background: #4f4f4f;
}
nav a:hover::after{
  width: 100%;
}
.logo{
  padding: .5rem 1rem;
}
main{
  text-align: left;
  display: grid;
  place-items: center;
  background: #fff;
  color: #000;
}